canvas {
	border: 0px solid black;
	background-color: white;
}
video {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  background-color: black;
}

.canvas-container {
    width: 1000px;
    height: 1000px;/*
    width: 100%;
    flex-grow: 1;
    background-color: black;*/
}

.sliders {
    display: flex;
    flex-direction: row;
    height: 8vh;
}

html {
    height: 100%;
}

button {
    height: 50px;
}

.configuration-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: stretch;
}